/* Global */
body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: 45px auto 60px;
}


/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #e2e2e2;
}
.brand-name{
    padding-top: 5px;
}
.brand-name img{
    width: 200px;
    height: 28px;
}
.left-navbar ul li{
    display: inline;
    margin-right: 12px;
}
.left-navbar i{
    color: #333333;
}
.left-navbar{
    display: flex;
    align-items: center;
}
.left-navbar .page-category{
    font-weight: bold;
    font-size: 16px;
}
.left-navbar .page-category:hover{
    text-decoration: underline;
    cursor: pointer;
}
.right-navbar button{
    color: white;
    background-color: #567b95;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 10px;
}
/* Main */
main{
    
}

/* Footer */
footer{
   
}