/* Global */
body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr auto;
}
/* Header */
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #e2e2e2;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.brand-name{
    padding-top: 5px;
}
.brand-name img{
    width: 200px;
    height: 28px;
}
.left-navbar ul li{
    display: inline;
    margin-right: 12px;
}
.left-navbar i{
    color: #333333;
}
.left-navbar{
    display: flex;
    align-items: center;
}
.left-navbar .page-category{
    font-weight: bold;
    font-size: 16px;
}
.left-navbar .page-category:hover{
    text-decoration: underline;
    cursor: pointer;
}
.right-navbar button,
.article-more button{
    color: white;
    background-color: #567b95;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 10px;
}


/* Main */
main{
    padding: 0px 180px;
    margin-top: 35px;
}
main article h1,
main article p,
main article .video,
main article .half-wfig,
.article-info,
.article-end{
    padding: 0 200px;
}
article .tittle{
    font-style: italic;
    font-size: 30px;
    margin-bottom: 25px;
}
article p,
article .video,
main article .half-wfig{
    margin-bottom: 15px;
}
article{
    margin: 35px 0;
}
.full-wfig,
.half-wfig{
    margin-bottom: 20px;
}
.full-wfig img,
.half-wfig img{
    width: 100%;
    object-fit: cover;
}
.full-wfig figcaption,
.half-wfig figcaption,
.video figcaption{
    margin-top: 8px;
    margin-bottom: 8px;
    color: #666;
}
.full-wfig figcaption small,
.half-wfig figcaption small,
.video figcaption{
    color: #888;
}
.article-info .details{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 25px;
    align-items: center;
}
.article-info .author span{
    border-bottom: 1px solid #cccccc;;
}
.article-info .details ul li,
.article-more ul li{
    display: inline-flex;
    width: 30px;
    height: 30px;
    background-color: #eeeeee;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
article p{
    font-size: 18px;
}
.fig-title{
    color: black;
}
.full-wfig hr{
    border: 0;
    height: 1px;
    background-color: black;
    width: 150px;
    margin-left: 0;
}
.article-end a{
    color: inherit;
    text-decoration: underline;
    align-items: center;
}
.article-end small{
    color: rgb(102, 102, 102);
    font-size: 12px;
}
.article-more{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.article-more button{
    font-size: 14px;
    padding: 10px 80px;
}


/* Footer */
footer{
   padding: 25px 60px;
}
.footer-line{
    width: 100%;
    border-top: 2px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    height: 1px;
}
.footer-main-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.footer-main-links a{
    font-size: 12px;
    color: rgb(86, 123, 149);
}
.categories{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 15px;
}
.categories ul:last-child{
    border-left: 1px solid #e2e2e2;
    padding-left: 15px;
}
.categories ul:last-child li{
    font-size: 10px;
}
.special-ctg{
    font-size: 16px !important;
    font-weight: bold !important;
}
.divider{
    padding: 1px 0;
}
.categories ul li{
    margin: 12px 0;
    font-size: 14px;
}
.categories ul hr{
    background-color: #e2e2e2;
    height: 1px;
    border: none;
}
.category-name{
    font-weight: bold;
    font-size: 16px !important;
    color: #333333;
}
.categories ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.category-name:hover{
    text-decoration: none !important;
    cursor: default !important;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    padding: 18px 60px;
    font-size: 10px;
    color: #666;
    flex-wrap: wrap;
}
.nav-links li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.footer__svg{
    width: 12px;
    height: 14px;
}